@import "~react-select/dist/react-select.css";

* {
	margin: 0;
	padding: 0;
}

body {
	background: #f7f7f7;
}

@mixin markedRow($color, $target) {
	.prioritizer-cell:not(.prioritizer-cell_review) {
		*:not(a) {
			color: inherit;
		}
	}

	td:first-of-type {
		position: relative;

		&:before {
			position: absolute;
			left: 0;
			top: 0;

			height: 100%;
			width: 7px;

			content: '';
			background: $color;
		}

		&.prioritizer-cell {
			&_id {
				* {
					color: $color;
					border-color: $color;
				}
			}
		}
	}

	#{$target} {
		*:not(a) {
			color: $color;
		}
	}
}

.prioritizer {
	margin-bottom: 30px;

	td, th {
		padding: 4px 24px;
	}

	a:not([role="button"]) {
		color: #349ef3;
		text-decoration: none;
		border-bottom: 1px solid #349ef3;
	}

	&__wrapper {
		width: 1420px;
		margin: 20px auto 0;
		padding: 20px;
	}

	&-title {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;

		&__wrapper {
			position: relative;
		}

		&__changeUser {
			position: absolute;
			top: 50%;
			left: 0;

			display: flex;
			align-items: center;

			margin-top: 1px;
			margin-left: -15px;

			cursor: pointer;
			transform: translateY(-50%) translateX(-100%);
		}

		&__icon {
			position: absolute;
			right: -35px;
			top: 50%;

			display: flex;
			align-items: center;

			margin-top: 2px;
			cursor: pointer;
			transform: translateY(-50%);
		}
	}

	&-loader {
		text-align: center;
	}

	&-date {
		white-space: nowrap;

		&_urgent {
			color: #F44336 !important;
			border-bottom: 1px solid;
		}
	}

	&-col {
		&_id {
			padding-right: 20px !important;
		}
	}

	&-row {
		th:not(.prioritizer-col_subject) {
			text-align: center;
		}

		&_isBug {
			@include markedRow(#FF9800, ".prioritizer-cell_tracker");
		}

		&_inProgress,
		&_isTested,
		&_isDone,
		&_isNew,
		&_testingInProgress {
			@include markedRow(#4CAF50, ".prioritizer-cell_status");
		}

		&_needComment,
		&_isCritical {
			@include markedRow(#FF5722, ".prioritizer-cell_status");
		}

		&_isPaused, &_isPending {
			opacity: 0.4;
			transition: opacity 0.2s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}

	&-cell {
		&:not(&_subject) {
			text-align: center;

			p {
				text-align: center;
			}
		}

		&_id {
			padding-right: 20px !important;
		}

		&_status, &_tracker {
			white-space: nowrap;
		}

		&__wrapper {
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			white-space: nowrap;

			svg {
				width: 20px;
				margin-right: 5px;
			}
		}
	}
}
