* {
	margin: 0;
	padding: 0;
}

body {
	background: #f7f7f7;
}

@mixin markedRow($color, $target) {
	.prioritizer-cell {
		*:not(a) {
			color: inherit;
		}
	}

	td:first-of-type {
		position: relative;

		&:before {
			position: absolute;
			left: 0;
			top: 0;

			height: 100%;
			width: 7px;

			content: '';
			background: $color;
		}

		&.prioritizer-cell {
			&_id {
				* {
					color: $color;
					border-color: $color;
				}
			}
		}
	}

	#{$target} {
		*:not(a) {
			color: $color;
		}
	}
}

.prioritizer {
	margin-bottom: 30px;

	a {
		color: #349ef3;
		text-decoration: none;
		border-bottom: 1px solid #349ef3;
	}

	&__wrapper {
		width: 1280px;
		margin: 20px auto 0;
		padding: 20px;
	}

	&-title {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;

		&__wrapper {
			position: relative;
		}

		&__changeUser {
			position: absolute;
			top: 50%;
			left: 0;

			display: flex;
			align-items: center;

			margin-top: 1px;
			margin-left: -15px;

			cursor: pointer;
			transform: translateY(-50%) translateX(-100%);
		}

		&__icon {
			position: absolute;
			right: -35px;
			top: 50%;

			display: flex;
			align-items: center;

			margin-top: 2px;
			cursor: pointer;
			transform: translateY(-50%);
		}
	}

	&-loader {
		text-align: center;
	}

	&-date {
		white-space: nowrap;

		&_urgent {
			color: #F44336 !important;
			border-bottom: 1px solid;
		}
	}

	&-row {
		&_isBug {
			@include markedRow(#FF9800, ".prioritizer-cell_tracker");
		}

		&_inProgress, &_tested {
			@include markedRow(#4CAF50, ".prioritizer-cell_status");
		}

		&_needComment {
			@include markedRow(#FF5722, ".prioritizer-cell_status");
		}
	}
}
